@charset "utf-8";
/* ------------------------------------------
 ALL
------------------------------------------ */

.clearfix {
    &:before {
        content: "";
        display: table;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/* ------------------------------------------
 SP
------------------------------------------ */
@media (min-width: 1px) and (max-width: 700px) {

    .sp-none {
        display: none !important;
    }

    .txt-xs {
        font-size: 50% !important;
        line-height: 1.4;
    }

    .txt-s {
        font-size: 70% !important;
        line-height: 1.4;
    }

    .txt-l {
        font-size: 100% !important;
        line-height: 1.4;
    }

    .txt-2l {
        font-size: 110% !important;
        line-height: 1.4;
    }

    .txt-3l {
        font-size: 120% !important;
        line-height: 1.4;
    }

    .txt-4l {
        font-size: 130% !important;
        line-height: 1.4;
    }

    .w100 {
        width: 100%;
    }

    .arrow-01 {
        background-size: 15px 15px;
    }

    .sp_title_main {
        font-size: 5vw !important;
    }

    /* efuto-container */
    #efuto-container {
        width: auto;
        margin: auto;
        position: relative;
    }

    /* sec-title */

    #sec-header {
        padding: 0 10px;
    }

    #sec-title {
        overflow: hidden;
        padding: 10px 0 0;
        position: relative;

        #sec-title-logo {
            width: 235px;
            height: 100px;
            float: none;
            background-image: url($ec_imagepath + "common/title_sp.png");
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
            margin-bottom: 10px;
        }

        #sec-title-logo-h2 {
            text-indent: -9999px;
        }

        #sec-title-logo a {
            display: block;
            min-height: 144px;

            &:hover {
                text-decoration: none;
            }
        }

        #sec-title-info {
            width: auto;
            height: auto;
            background: #F1F1F2;
            float: none;
            padding: 5px;
            overflow: hidden;
            margin-bottom: 10px;
            display: none;

            #sec-title-info-left {
                float: left;
                width: 120px;
                padding: 5px;
                border: 1px solid #C7C7C7;
                background: #FFF;

                #sec-title-info-left-mypage {
                    border: 1px solid #C7C7C7;
                    height: 26px;
                    padding: 0 0 0 38px;
                    line-height: 26px;
                    background: url($ec_imagepath + "common/ico_info.png") no-repeat left center;
                    margin-bottom: 10px;
                }

                #sec-title-info-left-lock {
                    height: 32px;
                    line-height: 1.2;
                    overflow: hidden;

                    #sec-title-info-left-lock-ico {
                        float: left;
                        width: 28%;
                    }

                    #sec-title-info-left-lock-name {
                        float: right;
                        width: 72%;
                    }
                }

                #sec-title-info-left-cart {
                    background: #D0D2D3;
                    padding: 5px;
                    margin: 10px 0 0;
                }
            }

            #sec-title-info-right {
                float: right;
                width: 180px;

                #sec-title-info-right-tel {
                    margin-bottom: 5px;
                }
            }
        }
    }


    /* sec-main-index */
    #sec-main-index {
        overflow: hidden;

        #sec-main-index-slide {
            float: none;
            width: auto;
            position: relative;

            img {
                width: 100%;
            }
        }

        #sec-main-index-right {
            float: none;
            width: auto;
            position: relative;

            img {
                width: 100%;
            }
        }

        #sec-main-index-btn {
            >div {
                margin: 20px 0 20px;
            }

            tr {
                .gsc-input {
                    font-size: 18px;
                    padding-right: 12px;

                    .gsc-input-box {
                        border-top-left-radius: 0px !important;
                        border-bottom-left-radius: 0px !important;
                    }

                    .gsib_a {
                        padding: 0 0 0 5px !important;
                    }

                    input {
                        background-size: 100px !important;
                    }
                }

                .gsc-search-button {
                    button {
                        border-color: #000;
                        background-color: #000099;
                    }

                    .gsc-search-button-v2 {
                        padding: 11px 22px !important;
                        border-top-right-radius: 0px !important;
                        border-bottom-right-radius: 0px !important;

                        svg {
                            width: 11px;
                        }
                    }
                }
            }

            ul li {
                margin: 10px 0px;

                img {
                    width: 100%;
                }
            }
        }
    }


    /* sec-snav-s */
    #sec-snav-s {
        overflow: hidden;
        margin: 0 10px 10px;

        #sec-snav-s-list ul {
            overflow: hidden;

            li {
                margin-bottom: 5px;

                img {
                    width: 100%;
                }
            }
        }
    }

    /* sec-footer */
    #sec-footer {
        min-width: none;
    }

    #sec-footer-top {
        padding: 10px;

        .footer__list02 {
            font-size: 14px;
        }
    }

    #sec-footer-mid {
        background: #CC0000;
        padding: 0 30px;
        text-align: right;
        overflow: hidden;
        color: #FFF;

        p {
            padding: 10px 0 0;
            text-align: center;

            &.copy {}
        }
    }

    #sec-footer-btm {
        background: #FFF;
        overflow: hidden;
        padding: 10px;
        text-align: center;

        span {
            display: inline-block;
            padding: 2px 4px;
        }

        #sec-footer-btm-01 {}

        #sec-footer-btm-02 {
            float: right;
            font-size: 80%;

            span {
                border: 2px solid #172a88;
            }
        }

        #sec-footer-btm-03 {
            float: left;
            font-size: 80%;

            span {
                border: 2px solid #CC0000;
            }
        }

        #sec-footer-btm-04 {
            padding-bottom: 10px;
        }
    }

    /* sec-fnav */
    #sec-fnav ul {
        overflow: hidden;

        li {
            float: left;

            a {
                font-size: 90%;
            }

            &#fnav-01 {
                width: 98%;

                a {
                    text-align: left;
                    padding-left: 20%;
                    background-image: url($ec_imagepath + "common/ico_post.png");
                    background-size: 60px 75px;

                    .tit {
                        text-align: left;
                        border-bottom: 1px solid #333;
                        font-size: 16px;
                    }
                }
            }

            &#fnav-02 {
                width: 98%;

                a {
                    padding-left: 20%;
                    background-size: 60px 75px;
                    text-align: left;
                    height: 40px;
                    line-height: 40px;
                    background-image: url($ec_imagepath + "common/ico_pc.png");

                    .tit {
                        font-size: 16px;
                    }
                }
            }

            &#fnav-03 {
                width: 98%;

                a {
                    padding-left: 20%;
                    background-size: 60px 75px;
                    text-align: left;
                    height: 40px;
                    line-height: 40px;
                    background-image: url($ec_imagepath + "common/ico_temp.png");

                    .tit {
                        font-size: 16px;
                    }
                }
            }

            &#fnav-04 {
                width: 98%;

                a {
                    padding-left: 20%;
                    background-size: 60px 75px;
                    text-align: left;
                    height: 40px;
                    line-height: 40px;
                    background-image: url($ec_imagepath + "common/ico_contact.png");

                    .tit {
                        font-size: 16px;
                    }
                }
            }

            a {
                line-height: 1.2;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left center;
                margin: 5px 0;

                br {
                    display: none;
                }

                p {
                    font-size: 100%;
                }
            }
        }
    }

    /* sec-fmap */
    #sec-fmap {
        margin: 15px auto;
        overflow: hidden;

        .sec-fmap-single {
            .parent {
                font-weight: bold;
                margin: 0 0 5px;
                font-size: 16px;
            }

            .child {
                margin: 0 0 10px;
                overflow: hidden;

                li {
                    font-size: 14px;
                }
            }
        }

        @mixin footer_futo-name_L {
            margin: 0;
            float: left;
            width: 41%;
        }

        #sec-fmap-single-01 {
            overflow: hidden;
            margin-bottom: 12px;

            #sec-fmap-list-01 {
                @include footer_futo-name_L;
            }

            #sec-fmap-list-05 {
                padding-left: 12px;
            }
        }

        #sec-fmap-single-02 {
            overflow: hidden;
            margin-bottom: 12px;
        }

        #sec-fmap-list-06 {
            @include footer_futo-name_L;
        }

        #sec-fmap-list-07 {
            padding-left: 12px;
        }

        #sec-fmap-single-02 {
            clear: both;
        }

        #sec-fmap-single-03 {
            overflow: hidden;
            clear: both;
        }
    }

    #sec-footer-top-wrap {
        background: #E6E6E6;
    }

    /* calender_area */
    #calender_area {
        background-color: transparent;
        border: medium none;
        position: relative;

        h2 {
            text-align: center;
            background: #595757;
            color: #FFF;
            padding: 5px;
            font-size: 130%;
        }

        .block_body {
            background-color: #fff;
            padding: 10px;
        }

        table {
            background: #fff none repeat scroll 0 0;
            border: medium none;
            font-size: 90%;
            margin: 0 auto 5px;
            width: 100%;

            td {
                border: 1px solid #ccc;
                padding: 1px 3px;
                text-align: center;
            }
        }

        th {
            background: #C0C0C0;
            border: 1px solid #ccc;
            padding: 1px 3px;
            text-align: center;
        }

        table .month {
            font-size: 120%;
            margin-bottom: 5px;
            padding-left: 12px;
        }

        .off {
            color: #f00;
        }

        .today {
            background-color: #fff99d;
            font-weight: bold;
        }

        .information {
            font-size: 90%;
            margin-left: 10px;
        }
    }

    #calender_arrow span {
        text-indent: -9999px;
        width: 20px;
        height: 30px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center top;
        cursor: pointer;

        &.calender-prev {
            top: 45%;
            left: -5px;
            background-image: url($ec_imagepath + "common/btn_cal_prev.png");
        }

        &.calender-next {
            top: 45%;
            right: -4px;
            background-image: url($ec_imagepath + "common/btn_cal_next.png");
        }
    }


    /* fnav-s */
    #fnav-s ul {
        overflow: hidden;

        li {
            margin: 5px 0;

            &.last {}
        }
    }

    /* sec-contents */
    #sec-contents {
        overflow: hidden;
        margin: 0;
    }

    /* sec-main */
    #sec-main,
    #sec-side,
    #sec-rightside {}

    /* sec-side */
    #sec-side .sec-side-single,
    #sec-rightside .sec-side-single {
        margin-bottom: 30px;
    }

    #sec-side .sec-side-single .list-side-child,
    #sec-rightside .sec-side-single .list-side-child {
        margin: -5px 0 30px 25px;
    }

    #sec-side .sec-side-single .list-side li a.parent,
    #sec-rightside .sec-side-single .list-side li a.parent {
        margin-bottom: 5px;
    }

    #sec-side .sec-side-single .sec-side-single-btn li,
    #sec-rightside .sec-side-single .sec-side-single-btn li {
        margin-bottom: 10px;
    }

    #sec-side .sec-side-single .sec-side-single-btn li img,
    #sec-rightside .sec-side-single .sec-side-single-btn li img {
        width: 100%;
    }



    .slick-dotted.slick-slider {
        margin-bottom: 30px !important;
    }

    .slick-dots {
        bottom: -25px !important;
    }






    .divide_2-8 {
        display: block;
    }

    .main-contents {
        flex-basis: 752px;
    }

    //各タイトルバーのスタイル
    .main_title-bar {
        background-color: rgba(0, 0, 0, 0);
        text-align: center;
        margin: 5% 0;


        &_bg {
            background: none;
            height: auto;
        }

        &_cont {
            background: none;
            background-position-x: auto;
            background-position-y: auto;

            span {
                &:first-child {
                    font-family: $font_hiragino-l;
                    font-size: 4vw;
                    color: #2e2e2e;
                    padding-left: 0;
                }

                &:last-child {
                    font-family: $font_hiragino-l;
                    font-size: 3vw;
                    color: #2e2e2e;
                    padding-left: 0px;
                }
            }
        }
    }

}


/* ------------------------------------------
 PC
------------------------------------------ */
@media screen and (min-width: 701px) {

    /* common */
    #window_area {
        padding: 10px;
    }

    .img-indent {
        margin: 0 15px 15px;
    }

    .f-l-pc {
        float: left;
    }

    .f-r-pc {
        float: right;
    }


    .pc-none {
        display: none !important;
    }



    /* sec-title */
    #sec-title {
        overflow: hidden;
        margin: 5px 0 0;
    }

    #sec-header {
        padding: 0px;
        width: 1000px;
        margin: auto;
    }

    #sec-title {
        #sec-title-logo {
            width: 509px;
            height: 144px;
            float: left;
            padding: 0 0 0 10px;
            background: url($ec_imagepath + "common/title_20200303.png") no-repeat left top;

            a {
                display: block;
                min-height: 144px;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        #sec-title-logo-h2 {
            text-indent: inherit;
        }

        #sec-title-info {
            width: 459px;
            height: 124px;
            background: #F1F1F2;
            float: right;
            padding: 6px 5px;
            overflow: hidden;

            #sec-title-info-up {
                margin-bottom: 10px;
                float: left;
                width: 50%;
                padding-right: 5px;
                ;
            }

            #sec-title-info-down {
                float: right;

                .p_up {
                    margin-top: 8px;
                }

                #sec-title-info-mypage {
                    width: 157px;
                    margin-right: 7px;
                    margin-top: 6px;
                    text-align: center;

                    a {
                        margin-bottom: 4px;
                        display: block;
                    }

                    span {
                        margin-top: 15px;
                        display: block;
                        font-weight: bold;
                    }
                }
            }

            #sec-title-info-left {
                float: left;
                width: 134px;
                padding: 5px;
                border: 1px solid #C7C7C7;
                background: #FFF;

                #sec-title-info-left-mypage {
                    border: 1px solid #C7C7C7;
                    height: 26px;
                    padding: 0 0 0 38px;
                    line-height: 26px;
                    background: url($ec_imagepath + "common/ico_info.png") no-repeat left center;
                    margin-bottom: 10px;
                }

                #sec-title-info-left-lock {
                    height: 32px;
                    line-height: 1.2;
                    overflow: hidden;

                    #sec-title-info-left-lock-ico {
                        float: left;
                        width: 28%;
                    }

                    #sec-title-info-left-lock-name {
                        float: right;
                        width: 72%;
                    }
                }

                #sec-title-info-left-cart {
                    background: #D0D2D3;
                    padding: 5px;
                    margin: 10px 0 0;
                }
            }

            #sec-title-info-right {
                float: right;
                width: 180px;

                #sec-title-info-right-tel {
                    margin-bottom: 5px;
                }
            }
        }
    }



    .frame_outer {
        position: relative;
    }

    #nav-mask {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 189px;
        display: none;
        z-index: 9000;
    }



    /* sec-snav-s */
    #sec-snav-s {
        overflow: hidden;
        margin: 0 2% 15px 2.5%;

        #sec-snav-s-list ul {
            overflow: hidden;

            li {
                float: left;
                width: 19%;
                padding: 0 0.5%;

                img {
                    width: 100%;
                }
            }
        }
    }

    /* sec-footer */
    #sec-footer {
        min-width: 1000px;
    }

    #sec-footer-top-wrap {
        background: #E6E6E6;
    }

    #sec-footer-top {
        width: 960px;
        margin: 0 auto;
        padding: 20px;
    }

    #sec-footer-mid-wrap {
        background: #CC0000;
    }

    #sec-footer-mid {
        width: 940px;
        margin: 0 auto;
        padding: 0 30px;
        text-align: right;
        overflow: hidden;
        color: #FFF;

        p {
            float: right;

            &.copy {
                margin: 30px 10px 0 0;
            }
        }
    }

    #sec-footer-btm {
        width: 940px;
        background: #FFF;
        overflow: hidden;
        padding: 15px 30px;
        margin: 0 auto;

        span {
            display: inline-block;
            padding: 2px 4px;
        }

        #sec-footer-btm-01 {
            float: left;
        }

        #sec-footer-btm-02 {
            float: right;
            padding: 20px 15px 0 0;

            span {
                border: 2px solid #172a88;
            }
        }

        #sec-footer-btm-03 {
            float: right;
            padding: 20px 15px 0 0;

            span {
                border: 2px solid #CC0000;
            }
        }

        #sec-footer-btm-04 {
            float: right;
            padding: 15px 0 0 0;
        }
    }

    /* sec-fnav */
    #sec-fnav ul {
        overflow: hidden;

        li {
            float: left;

            &#fnav-01 {
                width: 38%;
                padding: 0 1%;

                a {
                    text-align: left;
                    padding-left: 25%;
                    background-image: url($ec_imagepath + "common/ico_post.png");
                    text-align: left;
                    height: 70px;

                    .tit {
                        text-align: left;
                        border-bottom: 1px solid #333;
                    }
                }
            }

            &#fnav-02 {
                width: 18%;
                padding: 0 1%;

                a {
                    text-align: left;
                    padding-left: 39%;
                    background-image: url($ec_imagepath + "common/ico_pc.png");
                    padding-top: 25px;
                }
            }

            &#fnav-03 {
                width: 18%;
                padding: 0 1%;

                a {
                    text-align: left;
                    padding-left: 39%;
                    background-image: url($ec_imagepath + "common/ico_temp.png");
                    padding-top: 25px;
                }
            }

            &#fnav-04 {
                width: 18%;
                padding: 0 1%;

                a {
                    text-align: left;
                    padding-left: 39%;
                    background-image: url($ec_imagepath + "common/ico_contact.png");
                    padding-top: 25px;
                }
            }

            a {
                height: 55px;
                line-height: 1.2;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left center;

                .tit {
                    margin-bottom: 5px;
                    text-align: center;
                }

                p {
                    font-size: 85%;
                }
            }
        }
    }

    /* sec-fmap */
    #sec-fmap {
        width: 950px;
        margin: 15px auto;
        overflow: hidden;
        background: url($ec_imagepath + "common/bg_sec_fmap.png") repeat-y center top;

        .sec-fmap-single {
            float: left;
            width: 217px;
            padding: 10px;
        }

        #sec-fmap-single-01.sec-fmap-single {
            width: 337px;
        }

        #sec-fmap-single-02.sec-fmap-single,
        #sec-fmap-single-03.sec-fmap-single {
            width: 157px;
        }

        #sec-fmap-single-04.sec-fmap-single {
            width: 217px;
        }

        .sec-fmap-single {
            .parent {
                font-weight: bold;
                margin: 0 0 5px;
            }

            .child {
                margin: 0 0 10px;
            }
        }

        #sec-fmap-list-01,
        #sec-fmap-list-05 {
            float: left;
            width: 50%;

            li {}
        }
    }

    /* calender_area */
    #calender_area {
        background-color: transparent;
        border: medium none;
        position: relative;

        h2 {
            text-align: center;
            background: #595757;
            color: #FFF;
            padding: 5px;
            font-size: 130%;
        }

        .block_body {
            background-color: #fff;
            padding: 10px;
        }

        table {
            background: #fff none repeat scroll 0 0;
            border: medium none;
            font-size: 90%;
            margin: 0 auto 5px;
            width: 100%;

            td {
                border: 1px solid #ccc;
                padding: 1px 3px;
                text-align: center;
            }
        }

        th {
            background: #C0C0C0;
            border: 1px solid #ccc;
            padding: 1px 3px;
            text-align: center;
        }

        table .month {
            font-size: 120%;
            margin-bottom: 5px;
            padding-left: 12px;
        }

        .off {
            color: #f00;
        }

        .today {
            background-color: #fff99d;
            font-weight: bold;
        }

        .information {
            font-size: 90%;
            margin-left: 10px;
        }
    }

    #calender_arrow span {
        text-indent: -9999px;
        width: 20px;
        height: 30px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center top;
        cursor: pointer;

        &.calender-prev {
            top: 45%;
            left: 0px;
            background-image: url($ec_imagepath + "common/btn_cal_prev.png");
        }

        &.calender-next {
            top: 45%;
            right: 0px;
            background-image: url($ec_imagepath + "common/btn_cal_next.png");
        }
    }


    /* fnav-s */
    #fnav-s {
        text-align: right;

        ul {
            overflow: hidden;

            li {
                display: inline-block;
                padding: 0 10px;
                border-left: 1px solid #ADADAD;

                &.last {
                    border-right: 1px solid #ADADAD;
                }
            }
        }
    }

    /* sec-contents */
    #sec-contents {
        overflow: hidden;
        width: 1000px;
        margin: 15px auto 0 auto;
    }

    /* sec-main */
    #sec-main {
        float: right;
        width: 78%;
    }

    /* sec-side */
    #sec-side,
    #sec-rightside {
        float: left;
        width: 19%;
    }

    #sec-side .sec-side-single,
    #sec-rightside .sec-side-single {
        margin-bottom: 30px;
    }

    #sec-side .sec-side-single .list-side-child,
    #sec-rightside .sec-side-single .list-side-child {}

    #sec-side .sec-side-single .list-side li a.parent,
    #sec-rightside .sec-side-single .list-side li a.parent,
    #sec-side .sec-side-single .list-side li a.parent,
    #sec-rightside .sec-side-single .list-side li a.child {
        padding-bottom: 5px;
    }

    #sec-side .sec-side-single .sec-side-single-btn li,
    #sec-rightside .sec-side-single .sec-side-single-btn li {
        margin-bottom: 10px;
    }

    #sec-side .sec-side-single .sec-side-single-btn li img,
    #sec-rightside .sec-side-single .sec-side-single-btn li img {
        width: 100%;
    }


    .slick-dotted.slick-slider {
        margin-bottom: 0px !important;
    }

    .slick-dots {
        bottom: 5px !important;
    }

    .box60 {
        width: 60px;
    }

    .box120 {
        width: 120px;
    }

    .box380 {
        width: 380px;
        margin: 0.5em 0;
    }



    .divide_2-8 {
        display: flex;
        justify-content: space-between;
    }


    .side-contents {
        flex-basis: 220px;
    }


    .btn-seisakuzirei {
        margin-bottom: 16px;

        a {
            display: block;
            width: 228px;
            height: 70px;
            background: url($ec_imagepath + "top_b/main/btn-seisakuzirei.png") no-repeat left top;
            text-decoration: none;

            span {
                display: block;
                color: #5abd1f;
                padding: 7% 0 0 31%;
                line-height: .5;

                &:nth-child(1) {
                    font-family: $font_hiragino-l;
                    font-size: 10px;
                }

                &:nth-child(2) {
                    font-family: $font_hiragino-l;
                    font-size: 22px;
                }
            }
        }
    }

    .btn-shipinfo {
        margin-bottom: 16px;
        background: #5abd1f;
        padding-bottom: 10px;

        &__cont {

            &__tit {
                text-align: center;
                padding: 10px 0 8px;
            }

            &__box {
                background: #fff;
                box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 5px 0px;
                width: 182px;
                height: 72px;
                margin: 0 auto;

                span {
                    display: block;
                    text-align: center;

                    &.days {
                        span:first-child {
                            font-family: $font_hiragino-l;
                            font-size: 23px;
                            color: #e60005;
                            display: inline;
                            letter-spacing: -1px;
                        }

                        span:last-child {
                            font-family: $font_hiragino-l;
                            font-size: 13px;
                            color: #e60005;
                            display: inline;
                        }
                    }

                    &:first-child {
                        font-family: $font_hiragino-l;
                        font-size: 14px;
                        color: #000;
                        margin-bottom: -5px;
                        padding-top: 3px;
                    }

                    &:last-child {
                        font-family: $font_hiragino-l;
                        font-size: 11px;
                        color: #2e2e2e;
                        margin-top: -2px;
                    }
                }
            }
        }
    }

    .estimates {
        margin-bottom: 16px;

        .estimate_tit {
            padding-left: 14px;
            background: rgb(230, 0, 5);
            height: 50px;

            span {
                font-family: $font_hiragino-l;
                font-size: 13px;
                color: #fff;
                display: block;
                margin-bottom: -3px;
                padding-top: 3px;
            }
        }

        .estimate_cont {
            background: rgb(255, 250, 222);
            height: 286px;


            form {
                margin: 0 20px;

                .futosize-box {
                    padding: 6px 0;
                    display: block;
                }

                .futoamount-box {
                    padding: 6px 0;
                    display: block;
                }

                .futocolor-box {
                    display: block;
                    .coloroptions {
                        display: flex;
                        justify-content: space-between;

                        label.btn {
                            position: relative;
                            font-family: $font_hiragino-s;
                            font-size: 7px;
                            color: #2e2e2e;
                            flex-basis: 32%;
                            box-sizing: border-box;
                            border: 1px solid rgb(230, 0, 5);
                            background-color: #fff;
                            letter-spacing: -1.4px;
                            display: flex;
                            padding: 6px 0;
                            border-radius: 8px;
                        }

                        input {
                            position: absolute;
                            clip: rect(0, 0, 0, 0);
                            pointer-events: none;
                        }

                        .img {
                            padding: 0 2px 0 4px;

                            img {
                                vertical-align: middle;
                            }
                        }

                        .tex {
                            text-align: center;
                            padding-right: 2px;
                            width: 36px;
                            background-repeat: no-repeat;

                            img {
                                vertical-align: middle;
                            }

                            &-black {
                                background-image: url($ec_imagepath + "top_b/main/estimate10s_black-colortex.svg");
                                background-size: 30%;
                                background-position: 15px 5px;
                            }

                            &-op {
                                background-image: url($ec_imagepath + "top_b/main/estimate10s_op-colortex.svg");
                                background-size: 100%;
                                background-position: 1px 3px;
                            }

                            &-full {
                                background-image: url($ec_imagepath + "top_b/main/estimate10s_full-colortex.svg");
                                background-size: 100%;
                                background-position: 2px 7px;
                            }
                        }

                        input[type="radio"]:checked+label {
                            background-color: rgb(230, 0, 5);
                            color: #fff;
                            box-shadow: rgba(0, 0, 0, 0.5) 1px 1px;
                        }

                        input[type="radio"]:disabled+label {
                            background-color: rgb(199, 199, 199);
                            color: #fff;
                            box-shadow: rgba(0, 0, 0, 0.5) 1px 1px;
                        }

                        input[type="radio"].input_black:checked+label.label_black .tex {
                            background-image: url($ec_imagepath + "top_b/main/estimate10s_black-colortex_on.svg");
                        }

                        input[type="radio"].input_op:checked+label.label_op .tex {
                            background-image: url($ec_imagepath + "top_b/main/estimate10s_op-colortex_on.svg");
                        }

                        input[type="radio"].input_full:checked+label.label_full .tex {
                            background-image: url($ec_imagepath + "top_b/main/estimate10s_full-colortex_on.svg");
                        }

                    }
                }

                .futoprice-box {

                    .mini-title {
                        font-size: 12px;
                    }

                    .price {
                        color: rgb(255, 0, 5);
                        text-align: center;
                        margin-top: -8px;

                        &__price-yen {
                            font-size: 29px;
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: bold;
                            line-height: 1.4em;
                        }

                        &__mark-yen {
                            font-size: 16px;
                            font-family: $font_hiragino-l;
                        }
                    }
                }

                .mini-title {
                    display: block;
                    font-family: $font_hiragino-s;
                    font-size: 9px;
                    color: #2e2e2e;
                }

                select {
                    width: 100%;
                    border: 1px solid rgb(255, 0, 5);
                    padding: 4px 0 4px 8px;
                    background-image: url($ec_imagepath + "top_b/others/arrow_select.png");
                    background-repeat: no-repeat;
                    background-color: #fff;
                    background-size: 14%;
                    background-position: right -2px center;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    font-family: $font_hiragino-s;
                    font-size: 14px;
                    color: #2e2e2e;
                    border-radius: 8px;
                    position: relative;
                }

                select::-ms-expand {
                    display: none;
                }
            }

            .ft_btn {
                text-align: center;
                margin: 0 20px;


            }
        }

        @media all and (-ms-high-contrast: none) {
            select {
                background-size: 16%;
                background-position: right -2px top -2px;
            }

            .coloroptions {
                .tex {
                    &-black {
                        background-size: 50%;
                        background-position: 18px 5px;
                    }

                    &-op {
                        background-position: 1px 0px;
                    }

                    &-full {
                        background-position: 2px 0px;
                    }
                }
            }
        }

        _:-ms-lang(x)::-ms-backdrop,
        select {
            background-size: 16% !important;
            background-position: right -2px top -2px !important;
        }

        _:-ms-lang(x)::-ms-backdrop,
        .coloroptions .tex-black {
            background-size: 50% !important;
            background-position: 18px 5px !important;
        }

        _:-ms-lang(x)::-ms-backdrop,
        .coloroptions .tex-op {
            background-position: 1px 0px !important;
        }

        _:-ms-lang(x)::-ms-backdrop,
        .coloroptions .tex-full {
            background-position: 2px 0px !important;
        }

        .estimate_cont {
            height: 283px;

            form {
                margin: 0 8px;

                .futocolor-box {
                    .coloroptions {
                        label.btn {

                            .tex {
                                width: 36px;

                                &-black {
                                    background-size: 30%;
                                    background-position: 15px 5px;
                                }

                                &-op {
                                    background-size: 91%;
                                    background-position: 1px 4px;
                                }

                                &-full {
                                    background-size: 82%;
                                    background-position: 3px 7px;
                                }
                            }
                        }
                    }
                }

                select {
                    padding: 4px 0 2px 8px;
                }
            }

            .ft_btn {
                margin: 0 8px;
            }

        }
    }

    .side-list {
        margin-bottom: 16px;

        &_tit {
            font-family: $font_hiragino-l;
            font-size: 17px;
            color: #fff;
            background-color: rgb(230, 0, 5);
            text-align: center;
            padding: 10px 0;
            -webkit-border-radius: 7px 7px 0px 0px / 7px 7px 0px 0px;
            -moz-border-radius: 7px 7px 0px 0px / 7px 7px 0px 0px;
            border-radius: 7px 7px 0px 0px / 7px 7px 0px 0px;
        }

        &_cont {
            font-family: $font_hiragino-s;
            font-size: 14px;
            border: 1px solid rgb(231, 231, 231);

            li {
                a {
                    display: block;
                    line-height: 32px;
                    padding-left: 8px;

                    &.ml-px {
                        padding-left: 0px;
                    }

                    &:hover {
                        color: #fff;
                        text-decoration: none;
                        background: rgb(230, 0, 5);
                    }
                }
            }
        }

        &_guide {
            .side-list_tit {
                background-color: #ff872f;
                color:#333;

                img {
                    vertical-align: middle;
                }
            }

            li {
                a {
                    &:hover {
                        background: #ff872f;
                    }
                }
            }
        }
    }

    .box_btn-template {
        margin-bottom: 16px;
    }

    .box_btn-qa {
        margin-bottom: 16px;

        a {
            display: block;
            width: 225px;
            height: 71px;
            background: url($ec_imagepath + "top_b/main/btn-qa.png") no-repeat left top;
            text-decoration: none;

            span {
                font-family: $font_hiragino-l;
                font-size: 20px;
                color: #ff872f;
                display: block;
                padding: 8% 0 0 30%;
            }
        }
    }

    .main-contents {
        flex-basis: 752px;
    }
}



/* tag */
body {
    font-family: "Open Sans", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS P Gothic", "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
    line-height: 1.6;
    font-size: 14px;
    color: #393939;
}

h1,
h2,
h3,
h4.h5 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #393939;
}

a:hover {
    text-decoration: underline;
}

a:hover img.rollover {
    filter: alpha(opacity=50);
    -moz-opacity: 0.50;
    opacity: 0.50;
}

li {
    list-style-type: none;
}

img {
    vertical-align: bottom;
}

table {
    width: 100%;
    border: 1px solid #333;
}

table th,
table td {
    border: 1px solid #333;
    vertical-align: middle;
}

/* ------------ */
.hv-1:hover {
    color: #f6921d;
}

.attention {
    color: #FF0000;
}

.attention_icon {
    background: #FF0000;
    color: #FFFFFF;
    padding: 3px 5px;
    display: inline-block;
    float: right;
    font-size: 11px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.c-00 {
    color: #FFFFFF !important;
}

.c-01 {
    color: #CC0000;
}

.c-02 {
    color: #172a88;
}

.c-03 {
    color: #FF0000 !important;
}

.c-04 {
    color: #272161 !important;
}

.c-05 {
    color: #ED5C27 !important;
}

.c-06 {
    color: #3b2213 !important;
}

.c-07 {
    color: #e60012 !important;
}

.c-08 {
    color: #58595b !important;
}

.c-09 {
    color: #E50012 !important;
}

.c-10 {
    color: #009FC0 !important;
}

.c-11 {
    background: #E50012;
    padding: 5px;
    color: #FFFFFF !important;
}

.c-12 {
    color: #1a6ad9 !important;
}

.link {
    color: #1493d0 !important;
}

.sec-01 {
    margin-bottom: 6em;
}

.sec-02 {
    margin-bottom: 3em;
}

.sec-03 {
    margin-bottom: 1.5em;
}

.ico-01 {
    background: #E38A1E;
    padding: 0 5px;
    font-size: 65%;
    border-radius: 6px;
    margin: 0 5px;
    vertical-align: middle;
    color: #FFF;
}

.tbl-01 {
    margin: 1em 0;
}

.tbl-01 table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;

}

.tbl-01 table th,
.tbl-01 table td {
    border: none;
    text-align: left;
    font-weight: normal;
    padding: 10px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.tbl-01 table th {
    width: 30%;
    background: #EEE;
}

.form_n-member .tbl-01 {
    table th {
        background-color: white;
        border-right: 1px solid #ccc;
        width: 22%;
    }

    table td {
        padding-left: 8%;
    }

    input,
    textarea,
    select {
        background-color: #fedf98 !important;
    }

    select {
        background-image: url($ec_imagepath + "common/form_arrow_gb.png");
        background-repeat: no-repeat;
        background-size: 18px;
        background-position-x: right;
    }

}

.tbl-02 table {
    width: 100%;
}

.tbl-02 table th,
.tbl-02 table td {
    border: 1px solid #CCC;
    padding: 7px;
}

.tbl-02 table .alignC {
    text-align: center;
}

.tbl-02 table th {
    background: #EEE;
}

.txt-none {
    text-indent: -9999px;
}

.txt-xs {
    font-size: 70%;
    line-height: 1.4;
}

.txt-s {
    font-size: 80%;
    line-height: 1.4;
}

.txt-s2 {
    font-size: 90%;
    line-height: 1.4;
}

.txt-m {
    font-size: 100%;
    line-height: 1.4;
}

.txt-l {
    font-size: 120%;
    line-height: 1.4;
}

.txt-2l {
    font-size: 140%;
    line-height: 1.4;
}

.txt-3l {
    font-size: 160%;
    line-height: 1.4;
}

.txt-4l {
    font-size: 180%;
    line-height: 1.4;
}

.map_inorder {
    @media(max-width:700px) {
        max-width: 100% !important;
    }

    @media(max-width:460px) {
        height: 250px !important;
    }
}

.sec-0 {
    margin-bottom: 2em;
}

.sec-1 {
    margin-bottom: 2em;
}

.sec-2 {
    margin-bottom: 1em;
}

.sec-2-bdr {
    border-bottom: 1px solid #b1b1b1;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.sec-single {
    margin: 20px 0;
}

.sec-single-02 {
    margin: 20px 0;
    padding: 10px;
    border-radius: 12px;
    background: #F1F1F2;
    border: 2px solid #e6e7e7;
}

.sec-border {
    margin: 0 0 2em;
    border: 1px solid #b1b1b1;
    padding: 30px;
}

.sec-border-2 {
    margin: 0 0 2em;
    border: 1px solid #b1b1b1;
    padding: 10px;
}

.sec-border-3 {
    margin: 0 0 2em;
    border: 1px solid #b1b1b1;
    padding: 5px;
}

.main_comment {
    margin: 10px 0;
    font-size: 120%;
    font-weight: bold;
}

.tit-2 {
    background: #E6E7E7;
    padding: 3px 15px;
    border: 1px solid #D1D2D3;
    margin-bottom: 10px;
}

.tit-2 .l {
    font-size: 120%;
    font-weight: bold;
    padding-right: 15px;
}

.tit-2_emerald {
    background: #66c8b9;
    color: white;
    padding: 3px 3px;
    margin-bottom: 10px;

    .tit-2_bg1 {
        background: url($ec_imagepath + "index/index_tit-bg.png");
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 13%;
        position: relative;

        .tit-img_rank {
            position: absolute;
            bottom: 7px;
            left: 16px;
        }

        .tit-img_example {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .tit-img_choice {
            position: absolute;
            bottom: 0;
            left: 15px;
        }

        .tit-img_news {
            position: absolute;
            bottom: 4px;
            left: 15px;
        }

        .l {
            font-size: 235%;
            font-weight: bold;
            padding-right: 40px;
        }

        .s {
            font-size: 145%;
            font-weight: bold;
            position: absolute;
            top: 11px;
        }
    }
}

.tit-2-a {
    font-size: 180%;
    font-weight: bold;
}

.tit-2-b {
    background: #FFF;
    padding: 3px 15px;
    border: 1px solid #D1D2D3;
    margin-bottom: 10px;
}

.tit-2-b .l {
    font-size: 120%;
    font-weight: bold;
    padding-right: 15px;
}

.tit-2-c {
    background: #ed7300;
    padding: 3px 15px;
    text-align: center;
    margin-bottom: 20px;
    color: #FFF;
    font-size: 160%;
    font-family: UD新ゴ DB;
}

.tit-2-c-4 {
    background: #cc0000;
}

.LC_Page_Products_Design .tit-2-c {
    background: #cc0000;
}

.LC_Page_Products_Design .tit-2-c.tit-2-edesign {
    text-align: left;
}

.LC_Page_Products_Design .tit-2-c.tit-2-edesign a {
    display: block;
    float: right;
    margin-left: 10px;
}

@media (min-width: 1px) and (max-width: 700px) {
    .LC_Page_Products_Design .tit-2-c.tit-2-edesign {
        overflow: hidden;
    }

    .LC_Page_Products_Design .tit-2-c.tit-2-edesign a {
        clear: both;
        display: block;
        float: right;
        margin-left: 10px;
    }

    .tit-2_emerald {
        &_example {
            margin-top: 45px;
        }

        .tit-2_bg1 {
            background-size: cover;
            padding-left: 16%;

            .tit-img_rank {
                bottom: 5px;
                left: 11px;
            }

            .tit-img_example {
                bottom: 0;
                left: 0;
            }

            .tit-img_choice {
                left: 10px;
            }

            .tit-img_news {
                bottom: 2px;
                left: 10px;
            }

            .l {
                font-size: 170%;
            }

            .s {
                display: none;
            }

            img {
                width: 75%
            }
        }
    }

    h4.sub-tit-2 {
        margin-bottom: 3%;
        text-align: center;

        .s {
            color: #66c8b9;
            font-size: 120%;
            font-weight: bold;
        }
    }
}

@media (min-width: 1px) and (max-width: 520px) {
    .tit-2_emerald {

        .tit-2_bg1 {
            padding-left: 22%;
        }
    }
}

.tit-3-s {
    background: #727171;
    color: #FFF;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.tit-4-b {
    font-size: 110%;
    margin-bottom: 1em;
    font-weight: bold;
}

.tit-4 {
    margin-bottom: 5px;
    font-size: 120%;
    color: #1a6ad9;
}

.tit-4-c {
    border-bottom: 1px solid #1a6ad9;
    margin-bottom: 10px;
    font-size: 120%;
}

.tit-5 {
    margin-bottom: 0.5em;
}

.tit-5 span {
    border: 1px solid #b1b1b1;
    background: #e6e7e7;
    padding: 2px 4px;
    border-radius: 6px;
    display: inline-block;
}

.tit-6 {
    background: #1a6ad9;
    color: #FFF;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tit-7 {
    color: #F18D1D;
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 1em;
}

.tit-8 {
    color: #754C27;
    font-size: 110%;
    font-weight: bold;
}

.tit-9 {
    font-weight: bold;
}

.tit-page {
    background-image: url($ec_imagepath + "common/bg_tit_page.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 28px;
    line-height: 28px;
    color: #FFF;
    padding: 0 10px;
    margin: 0 0 2em;
    font-weight: bold;
}

.tit-page span {
    display: inline-block;
    background-image: url($ec_imagepath + "common/bg_tit_page_cut.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    background-color: #929496;
    padding-right: 35px;
}

.tit-page-2 {
    background-image: url($ec_imagepath + "common/bg_tit_page_2.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 28px;
    line-height: 28px;
    color: #FFF;
    padding: 0 10px;
    margin: 0 0 2em;
    font-weight: bold;
}

.tit-page-2 span {
    display: inline-block;
    background-image: url($ec_imagepath + "common/bg_tit_page_cut_2.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    background-color: #929496;
    padding-right: 35px;
}

.tit-page-mamechisiki {
    font-weight: bold;
    color: #662c18;
    font-size: 120%;
    margin-bottom: 1em;
}

.tit-obi-1 {
    background-color: #33CCB9;
    color: #FFF;
    padding: 5px 10px;
    margin-bottom: 1em;
}

.tit-obi-1 .main {
    font-size: 120%;
}

.tit-obi-2 {
    margin-bottom: 1em;
}

.tit-obi-2 .main {
    font-size: 120%;
    background-color: #FFE47F;
}

.tit-obi-3 {
    background: #f9ae3f;
    text-align: center;
    padding: 2px 10px;
    font-size: 120%;
    color: #662c18;
    font-weight: bold;
    margin-bottom: 1em;
}

.tit-obi-4 {
    background: #F1F1F2;
    font-size: 150%;
    font-weight: bold;
    padding: 5px 15px;
    margin-bottom: 10px;
    color: #808183;
    border-left: 7px solid #1A6AD9;
}

.tit-obi-5 {
    font-size: 140%;
    font-weight: bold;
    font-family: UD新ゴ DB;
    padding: 5px 15px;
    margin-bottom: 15px;
    border-left: 7px solid #1A6AD9;
    border-bottom: 1px solid #AFAFAF;
}

.tit-obi-5 .img {
    margin-right: 10px;
}

.tit-obi-6 {
    background: #F1F1F2;
    font-size: 150%;
    font-weight: bold;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-left: 7px solid #8BC53F;
}

.tit-obi-7 {
    background: #FFE27F;
    font-size: 130%;
    padding: 3px 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.tit-obi-8 {
    background-color: #51B9E5;
    color: #FFF;
    padding: 5px 10px;
    margin-bottom: 1em;
}

.tit-obi-8 .main {
    font-size: 120%;
    font-weight: bold;
}

.tit-obi-8 .sub {
    float: right;
    display: block;
}

.tit-obi-9 {
    background-color: #E9EAEA;
    padding: 5px 10px;
    margin-bottom: 1em;
}

.tit-obi-10 {
    background: #F1F1F2;
    font-size: 150%;
    font-weight: bold;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-left: 7px solid #F6921D;
}

.tit-obi-11 {
    background: #F1F1F2;
    font-size: 150%;
    font-weight: bold;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-left: 7px solid #57B2E5;
}

.tit-obi-12 {
    background: #F1F1F2;
    font-size: 100%;
    text-align: center;
    font-weight: bold;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.tit-box-1 {
    border: 2px solid #1db39d;
    padding: 7px 14px;
    color: #1db39d;
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 120%;
}

.btn a {
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    line-height: 1.3;
    margin: auto;
}

.btn a:hover {
    opacity: 0.7;
}

.btn-01 a {
    border: 1px solid #D6D7D8;
    font-weight: bold;
    color: #393939;
    padding: 3px;
    font-size: 110%;
    background: #FFF;
}

.btn-02 a {
    border: 1px solid #D6D7D8;
    font-weight: bold;
    color: #FFF;
    letter-spacing: 0;
    border-radius: 6px;
    text-decoration: none;
    padding: 3px;
    font-size: 110%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #4CB900), color-stop(0.00, #9DFB25));
    background: -webkit-linear-gradient(#9DFB25, #4CB900);
    background: -moz-linear-gradient(#9DFB25, #4CB900);
    background: -o-linear-gradient(#9DFB25, #4CB900);
    background: -ms-linear-gradient(#9DFB25, #4CB900);
    background: linear-gradient(#9DFB25, #4CB900);
}

.btn-03 a {
    border: 2px solid #D6D7D8;
    font-weight: bold;
    color: #393939;
    padding: 10px;
    font-size: 120%;
    background: #FFF;
}

.btn-04 a {
    border: 2px solid #D6D7D8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #C00), color-stop(0.00, #E5A1A3));
    background: -webkit-linear-gradient(#E5A1A3, #C00);
    background: -moz-linear-gradient(#E5A1A3, #C00);
    background: -o-linear-gradient(#E5A1A3, #C00);
    background: -ms-linear-gradient(#E5A1A3, #C00);
    background: linear-gradient(#E5A1A3, #C00);
    font-weight: bold;
    padding: 10px;
    color: #FFF;
    margin: 10px auto;
}

.btn-05 a {
    border: 2px solid #404040;
    background: #FFF;
    padding: 10px;
    color: #333;
    margin: 10px auto;
    border-radius: 12px;
}

.btn-06 a {
    border: 2px solid #D6D7D8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #20c7b1), color-stop(0.00, #b4ede6));
    background: -webkit-linear-gradient(#b4ede6, #20c7b1);
    background: -moz-linear-gradient(#b4ede6, #20c7b1);
    background: -o-linear-gradient(#b4ede6, #20c7b1);
    background: -ms-linear-gradient(#b4ede6, #20c7b1);
    background: linear-gradient(#b4ede6, #20c7b1);
    font-weight: bold;
    padding: 10px;
    color: #FFF;
    margin: 10px auto;
}

.btn-07 {
    margin: 1.5em 0;
}

.btn-07 a {
    background: #e9589b;
    font-weight: bold;
    padding: 10px 20px;
    color: #FFF;
    margin: 10px auto;
    border-radius: 12px;
}

.btn-07 a:hover {
    opacity: 0.7;
    text-decoration: none;
}

.btn-08 {
    margin: 1.5em 0;
}

.btn-08 a {
    background: #22b49d;
    font-weight: bold;
    padding: 10px 20px;
    color: #FFF;
    margin: 10px auto;
    border-radius: 12px;
}

.btn-08 a:hover {
    opacity: 0.7;
    text-decoration: none;
}

.btn-09 {
    margin: 1.5em 0;
    text-align: center;
}

.btn-09 input {
    display: inline-block;
    background: #22b49d;
    font-weight: bold;
    padding: 15px 40px;
    color: #FFF;
    margin: 10px auto;
    border-radius: 12px;
    cursor: pointer;
}

.btn-09 input:hover {
    opacity: 0.7;
    text-decoration: none;
}

.btn-09 input.disabled {
    background: #D3D3D3;
}

.btn-10 {
    margin: 1.5em 0;
}

.btn-10 a {
    background: #1a6ad9;
    font-weight: bold;
    padding: 10px 20px;
    color: #FFF;
    margin: 10px auto;
    border-radius: 12px;
}

.btn-10 a:hover {
    opacity: 0.7;
    text-decoration: none;
}

.btn-11 {
    text-align: center;
}

.btn-11 a {
    padding: 10px 30px;
    border-radius: 6px;
    display: inline-block;
    background: #646464;
    color: #FFF;
}

.btn-11 a:hover {
    opacity: 0.7;
    text-decoration: none;
}

.btn-a {
    display: inline-block;
    padding: 10px 20px !important;
    border-radius: 6px;
    border: none;
    background: #1e934f;
    color: #FFF;
}

.btn-a:hover {
    text-decoration: none;
    opacity: 0.7;
}

.btn-b {
    display: inline-block;
    padding: 10px 20px !important;
    border-radius: 6px;
    border: none;
    background: #c2c2c2;
    color: #3c3c3c;
}

.btn-b:hover {
    text-decoration: none;
    opacity: 0.7;
}

.btn-c {
    display: inline-block;
    padding: 10px 20px !important;
    border-radius: 6px;
    border: none;
    background: #FF0000;
    color: #FFF;
}

.btn-c:hover {
    text-decoration: none;
    opacity: 0.7;
}

.btn-buy {
    button {
        display: block;
        position: relative;
        float: right;
        padding: 20px 30px 20px 10px !important;
        border-radius: 6px;
        border: none;
        background: #FF0000;
        color: #FFF;
        width: 280px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;

        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            right: 40px;
            width: 0;
            height: 0;
            margin-top: -12px;
            border: 10px solid transparent;
            /*top right bottom を透明化 */
            border-left: 10px solid #fff;
        }
    }

}

.btn-delivery {
    button {
        display: block;
        position: relative;
        float: right;
        padding: 20px 30px 20px 10px !important;
        border-radius: 6px;
        border: none;
        background: #FF0000;
        color: #FFF;
        width: 380px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;

        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            right: 40px;
            width: 0;
            height: 0;
            margin-top: -12px;
            border: 10px solid transparent;
            /*top right bottom を透明化 */
            border-left: 10px solid #fff;
        }
    }

}

.btn-nonmember-nextbtn {
    button {
        display: block;
        position: relative;
        float: right;
        padding: 20px 30px 20px 10px !important;
        border-radius: 6px;
        border: none;
        background: #FF0000;
        color: #FFF;
        width: 420px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;

        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            right: 40px;
            width: 0;
            height: 0;
            margin-top: -12px;
            border: 10px solid transparent;
            /*top right bottom を透明化 */
            border-left: 10px solid #fff;
        }
    }

}

.btn-payment {
    button {
        display: block;
        position: relative;
        float: none;
        margin: 0 auto 15px auto;
        padding: 20px 30px 20px 10px !important;
        border-radius: 6px;
        border: none;
        background: #FF0000;
        color: #FFF;
        width: 380px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;

        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            right: 40px;
            width: 0;
            height: 0;
            margin-top: -12px;
            border: 10px solid transparent;
            /*top right bottom を透明化 */
            border-left: 10px solid #fff;
        }
    }

}

.btn-shopping_confirm {
    button {
        display: block;
        position: relative;
        float: none;
        margin: 0 auto 15px auto;
        padding: 20px 30px 20px 10px !important;
        border-radius: 6px;
        border: none;
        background: #FF0000;
        color: #FFF;
        width: 200px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;

        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            right: 40px;
            width: 0;
            height: 0;
            margin-top: -12px;
            border: 10px solid transparent;
            /*top right bottom を透明化 */
            border-left: 10px solid #fff;
        }
    }

}

.btn-shopping_card {
    button {
        display: block;
        position: relative;
        float: none;
        margin: 0 auto 15px auto;
        padding: 20px 80px 20px 30px !important;
        border-radius: 6px;
        border: none;
        background: #FF0000;
        color: #FFF;
        width: auto;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;

        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            right: 40px;
            width: 0;
            height: 0;
            margin-top: -12px;
            border: 10px solid transparent;
            /*top right bottom を透明化 */
            border-left: 10px solid #fff;
        }
    }

}

.btn-back {
    a {
        display: block;
        position: relative;
        padding: 10px 10px 10px 30px !important;
        border-radius: 6px;
        border: none;
        background: #606060;
        color: #fff;
        width: 100px;

        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            left: 10px;
            width: 0;
            height: 0;
            margin-top: -5px;
            border: 5px solid transparent;
            /*top right bottom を透明化 */
            border-right: 5px solid #fff;
        }
    }
}

.btn-confirm {

    button {
        display: block;
        position: relative;
        padding: 20px 30px 20px 10px !important;
        border-radius: 6px;
        border: none;
        background: #FF0000;
        color: #FFF;
        width: 250px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        margin: 0 auto;

        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            right: 20px;
            width: 0;
            height: 0;
            margin-top: -12px;
            border: 10px solid transparent;
            /*top right bottom を透明化 */
            border-left: 10px solid #fff;
        }
    }
}

@media (min-width: 1px) and (max-width: 700px) {
    .form_n-member .tbl-01 {
        table td {
            padding-left: 2%;
        }
    }

    .btn-buy {
        button {
            float: none;
            margin: 0 auto 30px auto;
        }
    }

    .btn-back {
        a {
            float: none;
            margin: 0 auto 0 auto;
        }
    }

    .btn-delivery {
        button {
            display: block;
            position: relative;
            float: none;
            margin: 0 auto 15px auto;
            padding: 20px 30px 20px 10px !important;
            border-radius: 6px;
            border: none;
            background: #FF0000;
            color: #FFF;
            width: 380px;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;

            &:before {
                display: block;
                content: "";
                position: absolute;
                top: 50%;
                right: 40px;
                width: 0;
                height: 0;
                margin-top: -12px;
                border: 10px solid transparent;
                /*top right bottom を透明化 */
                border-left: 10px solid #fff;
            }
        }

    }

    .btn-nonmember-nextbtn {
        button {
            display: block;
            position: relative;
            float: none;
            margin: 0 auto 15px auto;
            padding: 20px 30px 20px 10px !important;
            border-radius: 6px;
            border: none;
            background: #FF0000;
            color: #FFF;
            width: 380px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;

            &:before {
                display: block;
                content: "";
                position: absolute;
                top: 50%;
                right: 40px;
                width: 0;
                height: 0;
                margin-top: -12px;
                border: 10px solid transparent;
                /*top right bottom を透明化 */
                border-left: 10px solid #fff;
            }
        }

    }
}

.list-01 li {
    padding-left: 20px;
    background: url($ec_imagepath + "common/arrow_07.png") no-repeat left center;
}

.list-02 {
    margin: 1em 0;
}

.list-02 li {
    margin-bottom: 5px;
    font-weight: bold;
}

.list-03 {
    margin: 1em 0;
}

.list-03 li {
    margin-left: 1em;
    text-indent: -1em;
}

.list-04 {
    margin-bottom: 10px;
}

.list-04 dt {
    font-weight: bold;
    font-size: 110%;
}

.list-05 {
    margin: 1em 0;
}

.list-05>li {
    list-style-type: decimal;
    margin-left: 2em;
}

.list-06 {
    margin: 0.5em 0 0.5em 1em;
}

.list-06>li {
    list-style-type: disc;
}

.list-07 {
    margin-left: 2em;
}

.list-07>li {
    list-style-type: disc;
    border-bottom: 1px solid #646464;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.list-08 {
    margin: 1em 0;
    padding-left: 1em;
}

.list-08>li {
    list-style-type: disc;
    margin-left: 2em;
}

.list-09 {
    margin: 0.5em 0 0.5em 175px;
}

.list-09>li {
    list-style-type: disc;
}

.list-side {
    border-top: 1px solid #B1B1B1;
}

.list-side li a {
    display: block;
}

.list-side li a:hover {
    text-decoration: none;
    opacity: 0.7;
}

.list-side li a span {
    display: block;
}

.list-side li a.parent {
    background: #e9e9e9;
    padding: 5px 10px;
    border: none;
}

.list-side li a.parent span {
    background-image: url($ec_imagepath + "common/arrow_08.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 15px 15px;
    padding-left: 16%;
    line-height: 1.2;

    @media(max-width:700px) {
        font-size: 16px;
        background-size: 18px 18px !important;

    }
}

.list-side li a.child {
    background: #e9e9e9;
    padding: 5px 10px;
    border: none;
}

.list-side li a.child span {
    background-image: url($ec_imagepath + "common/arrow_08.png");
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 12px 12px;
    padding-left: 20%;
    line-height: 1.2;
}

.list-side .list-side-child {}

.list-side .list-side-child a {
    border-left: 1px solid #B1B1B1;
    border-right: 1px solid #B1B1B1;
    border-bottom: 1px solid #B1B1B1;
    font-size: 80%;
}

.list-side .list-side-child a span {
    padding: 3px 5px;
    background-image: url($ec_imagepath + "common/arrow_09.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

table {
    border: medium none;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table th,
table td {
    border-collapse: collapse;
    border: none;
}

.tbl-1 {
    margin: 5px 0;
}

.tbl-1 table {
    width: 100%;
}

.tbl-1 table th {
    background: #EEE;
}

.tbl-1 table th,
.tbl-1 table td {
    border: 1px solid #333;
    text-align: center;
}

.tbl-01 input,
.tbl-01 select,
.tbl-01 textarea {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
}

.tbl-01 textarea.form-texbox_size {
    width: 400px;
    height: 250px;
}

@media (max-width:700px) {
    .tbl-01 textarea.form-texbox_size {
        width: 80% !important;
    }

    .tbl-01 .form_zipbox-size1 {
        width: 20% !important;
    }

    .tbl-01 .form_zipbox-size2 {
        width: 30% !important;
    }

    .tbl-01 .form_telbox-size {
        width: 20% !important;
    }
}

.cell-2 {
    overflow: hidden;
}

.cell-2 .cell-2-left {
    float: left;
}

.cell-2 .cell-2-right {
    float: right;
}

.cell-2-in {
    overflow: hidden;
}

.cell-2-in .cell-2-in-left {
    float: left;
}

.cell-2-in .cell-2-in-right {
    float: right;
}

.cell-3 {
    overflow: hidden;
}

.cell-3 li {
    float: left;
    width: 46%;
    padding: 0 2%;
}

.tbl-3 {}

.tbl-3 table {
    width: 100%;
    border: none;
}

.tbl-3 table th,
.tbl-3 table td {
    border: none;
    padding: 20px;
}

.tbl-3 table td.td1 {
    border-right: 1px dotted #ADAFB0;
    border-bottom: 1px dotted #ADAFB0;
}

.tbl-3 table td.td2 {
    border-bottom: 1px dotted #ADAFB0;
}

.tbl-3 table td.td3 {
    border-right: 1px dotted #ADAFB0;
}

.tbl-4 {}

.tbl-4 table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
}

.tbl-4 table th,
.tbl-4 table td {
    border: none;
    padding: 10px;
    text-align: left;
    border-collapse: collapse;
}

.tbl-4 table th {
    border-top: 1px solid #C1C1C1;
    border-bottom: 1px solid #C1C1C1;
    background: #EEE;
}

.tbl-4 table td {
    border-top: 1px solid #C1C1C1;
    border-bottom: 1px solid #C1C1C1;
}

.arrow {
    background-repeat: no-repeat;
    display: inline-block;
}

.arrow-01 {
    background-image: url($ec_imagepath + "common/arrow_06.png");
    background-position: right center;
    padding-right: 25px;
}

.arrow-02 {
    background-image: url($ec_imagepath + "common/arrow_02.png");
    background-position: bottom center;
    padding-bottom: 30px;
}

.arrow-03 {
    background-image: url($ec_imagepath + "common/arrow_03.png");
    background-position: right center;
    padding-right: 35px;
}

.arrow-10 {
    background-image: url($ec_imagepath + "common/arrow_10.png");
    background-position: right center;
    padding-right: 35px;
}

.p-1 {
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 1em;
}

.p-2 {
    margin: 1em 0;
}

.p-2 a {
    text-decoration: underline;
}

.p-3 {
    margin: 0.5em 0;
}

.txt-mincho {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.txt-01 {
    margin-bottom: 1em;
}

.txt-02 {
    text-indent: 1em;
}

.sec-0 {
    margin: 42px;
}

.sec-1 {
    margin-bottom: 40px;
}

.sec-2 {
    margin-bottom: 60px;
}

.sec-2-b {
    margin-bottom: 30px;
}

.sec-3 {
    margin-bottom: 80px;
}

.sec-4 {
    margin: 20px;
}

.ico-q {
    margin-bottom: 1em;
    background-color: #F0F0F1;
}

.ico-q span {
    display: block;
    background-image: url($ec_imagepath + "common/ico_q.png");
    background-repeat: no-repeat;
    background-position: left top;
    padding: 4px 5px 4px 50px;
}

.ico-a {
    background-image: url($ec_imagepath + "common/ico_a.png");
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 50px;
}

.list-cat li {
    display: inline-block;
    border: 1px solid #a1a1a1;
    margin: 3px;
}

.list-cat li a {
    display: block;
    padding: 5px 10px;
    background: #EEE;
}

.list-cat li a:hover {
    text-decoration: none;
    opacity: 0.7;
}

div.wp-pagenavi {
    clear: both;
    font-size: 13px;
    text-align: center;
    margin: 15px 0;

    @include mq(sp) {
        margin-bottom: 15px;
    }
}

.wp-pagenavi a,
.wp-pagenavi span {
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    color: #000;
    line-height: 28px;
    margin: 0 1px;
    padding: 0 5px;
    text-decoration: none;
}

.wp-pagenavi a:hover {
    background-color: #33ccb9;
    color: #FFF;
}

.wp-pagenavi .current {
    font-weight: bold;
}

.wp-pagenavi .pages {
    margin-right: 5px;
}

.btn-1 {
    border: 1px solid #33ccb9;
    margin-bottom: 5px;
}

.btn-1 a {
    display: block;
    padding: 5px;
    text-decoration: none;
}

.btn-1 a:hover {
    opacity: 0.7;
}

.btn-1 a span {
    background-image: url($ec_imagepath + "common/arrow_10.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 35px;
}

.btn-2-wrap {
    text-align: right;
    margin-right: 140px;
}

.btn-2 {}

.btn-2 a {
    display: block;
    padding: 5px;
}

.btn-2 a:hover {
    opacity: 0.7;
}

.btn-2 a span {
    background-image: url($ec_imagepath + "common/arrow_02.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding: 3px 35px 3px 0;
}

.qa-1 {
    font-size: 130%;
    font-weight: bold;
    color: #f5911d;
    margin: 0.5em 0;
}

.qa-2 {
    font-size: 110%;
    font-weight: bold;
}

.qa-3 {
    font-size: 110%;
    font-weight: bold;
    color: #bd1d2c;
    margin: 0.5em 0 0;
}

.qa-4 {
    font-size: 100%;
    font-weight: bold;
    color: #CC0000;
}

.box-1 {
    padding: 5px 10px;
    background: #FFFDDE;
}

.box-2 {
    padding: 10px;
    border: 1px solid #C7C7C7;
    background: #FFFFFF;
}

.box-3 {
    padding: 5px;
    background: #FDFFDF;
}

.box-4 {
    padding: 2px;
    border: 1px solid #009fc0;
}

.box-relation {
    border: 1px solid #8c8c8c;
    padding: 15px;
    margin-bottom: 30px;
}

.box-relation .tit-relation {
    font-weight: bold;
    margin-bottom: 5px;
}

.box-relation .single-relation {
    display: inline-block;
    font-size: 85%;
    margin: 0 5px;
}

.box-relation .single-relation a {
    color: #4276E1;
}

.arrow_box {
    position: relative;
    background: #FFF8A0;
    padding: 1em;
    margin: 0 2em 4em;
    text-align: center;
    border: 4px solid #EC4034;
    border-radius: 12px;
}

.arrow_box:after,
.arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 248, 160, 0);
    border-top-color: #FFF8A0;
    border-width: 30px;
    margin-left: -20px;
}

.arrow_box:before {
    border-color: rgba(236, 64, 52, 0);
    border-top-color: #EC4034;
    border-width: 36px;
    margin-left: -26px;
}

.arrow_box_2 {
    margin: 0 2em 2em;
    position: relative;
    background: #F05A28;
    padding: 1em;
    text-align: center;
    border-radius: 12px;
}

.arrow_box_3 {
    margin: 0 2em 2em;
    position: relative;
    background: #FFF;
    padding: 1em;
    border: 4px solid #F05A28;
    text-align: center;
    border-radius: 12px;
}

.box-flow-1 {
    margin: 0 2em 4em;
    overflow: hidden;
    background-image: url($ec_imagepath + "sonomama/img_sonomama_05.png");
    background-position: right top;
    background-repeat: no-repeat;
}

.arrow_box_4 {
    position: relative;
    background: #F0F0F2;
    margin-bottom: 3em;
    padding: 1em 1em 1em 5em;
    width: 50%;
}

.arrow_box_4:after,
.arrow_box_4:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_4:after {
    border-top-color: #F0F0F2;
    border-width: 30px;
    margin-left: -30px;
}

.arrow_box_4:before {}

.arrow_box_5 {
    position: relative;
    background: #F0F0F2;
    margin-bottom: 3em;
    padding: 1em 1em 1em 5em;
    width: 50%;
}

/* ------------ */
.head_message_block {
    background: #F00;
    overflow: hidden;
}

.head_message_block .head_message {
    width: 1000px;
    margin: 0 auto;
    padding: 15px 10px;
}

.head_message_block .head_message p {
    color: #FFF;
    font-weight: bold;
}

#efuto-container {}

#sec-user {
    border-bottom: 1px solid #393939;
    overflow: hidden;
    padding: 10px;
}

#sec-user #sec-user-name {
    float: left;
}

#sec-user #sec-user-login {
    float: right;
    padding-right: 10px;
}

#sec-user #sec-user-new {
    float: right;
}

#sec-title #sec-title-logo #sec-title-logo-h1 {
    font-size: 85%;
    font-family: UD新ゴ DB;
    display: block;
}

#sec-title #sec-title-logo #sec-title-logo-h2 {
    font-size: 100%;
    font-family: UD新ゴ DB;
    color: #cc0000;
    display: block;
}

#sec-footer {
    margin: 30px auto 0 auto;
}

/* attention */
.box_attention {
    position: relative;
    margin: 2em 0;
    padding: 25px 10px 7px;
    border: solid 2px #cc0000;
}

.box_attention .box-title {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
}

.box_attention p {
    margin: 0;
    padding: 0;
}

/* article */
#article-main {}

/* --- */
.textareaFull {
    width: 95%;
    padding: 2%;
}


.text_more3500paper{font-family: $font_hiragino-s;color:red; font-size: 13px;}