@charset "UTF-8";

.slick-loading .slick-list {
    //background: #fff url($slick_imagepath + "ajax-loader.gif") center center no-repeat;
}

@font-face {
    font-family: slick;
    font-weight: 400;
    font-style: normal;
    src: url($slick_imagepath + "fonts/slick.eot");
    src: url($slick_imagepath + "fonts/slick.eot?#iefix") format("embedded-opentype"),
        url($slick_imagepath + "fonts/slick.woff") format("woff"),
        url($slick_imagepath + "fonts/slick.ttf") format("truetype"),
        url($slick_imagepath + "fonts/slick.svg#slick") format("svg");
}


.slick-next,
.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 60%;
    z-index: 1;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    border: 0;
}

.slick-next {
    color: transparent;
    outline: 0;
    background: transparent;

    &:focus,
    &:hover {
        color: transparent;
        outline: 0;
        background: transparent;
    }
}

.slick-prev {
    color: transparent;
    outline: 0;
    background: transparent;

    &:focus,
    &:hover {
        color: transparent;
        outline: 0;
        background: transparent;
    }
}

.slick-next {

    &:focus:before,
    &:hover:before {
        opacity: .5;
    }
}

.slick-prev {

    &:focus:before,
    &:hover:before {
        opacity: .5;
    }
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: .25;
}

.slick-next:before {
    font-family: slick;
    font-size: 40px;
    line-height: 1;
    opacity: .5;
    color: #000;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    &:before {
        font-family: slick;
        font-size: 40px;
        line-height: 1;
        opacity: .5;
        color: #000;
        z-index: 2;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    left: -45px;
}

[dir='rtl'] .slick-prev {
    right: 5px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: -45px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: 5px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
        position: relative;
        display: inline-block;
        margin: 0 5px;
        padding: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;

        button {
            width: 20px;
            height: 20px;
            cursor: pointer;
            font-size: 0;
            line-height: 0;
            display: block;
            padding: 5px;
            color: transparent;
            border: 0;
            outline: 0;
            background: transparent;

            &:focus,
            &:hover {
                outline: 0;
            }

            &:focus:before,
            &:hover:before {
                opacity: .5;
            }

            &:before {
                font-family: slick;
                font-size: 6px;
                line-height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                content: '•';
                text-align: center;
                opacity: .25;
                color: #000;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

        &.slick-active button:before {
            opacity: .5;
            color: #000;
        }
    }
}