  #lineup-page .separateline{
    border-bottom: 2px solid #777;
  }
  #lineup-page .bg{
    background: url(img/bg_item01.png) no-repeat center;
    padding: 140px 0;
  }

  #lineup-page .lineup__title{
    color:#005bac;
    font-size: 150%;
    font-weight: bold;
  }

  #lineup-page .lineup__title .small{
    font-size: 84%;
  }

  #lineup-page .lineup__kind {
    display: flex;
    justify-content: space-between;
  }
  #lineup-page .lineup__kind li {
    position: relative;
  }

  #lineup-page .lineup__kind01{
    margin-top: -8%;
  }
  #lineup-page .lineup__kind01 li.left {
    margin-bottom: 5%;
  }
  #lineup-page .lineup__kind01 li.right {
    margin-right: 7%;
    margin-bottom: 5%;
  }
  #lineup-page .lineup__kind02 li.left {
    margin-top: 5%;
  }
  #lineup-page .lineup__kind02 li.right {
    margin-right: 7%;
    margin-top: 10%;
  }

  #lineup-page .lineup__kind01 li.left::after {
    content: url(img/line-010.png);
    position: absolute;
    top: 50px;
    right: -127px;
  }
  #lineup-page .lineup__kind01 li.right::before {
    content: url(img/line-020.png);
    position: absolute;
    top: 44px;
    left: -90px;
  }
  #lineup-page .lineup__kind02 li.left::after {
    content: url(img/line-030.png);
    position: absolute;
    top: -88px;
    right: -137px;
  }
  #lineup-page .lineup__kind02 li.right::before {
    content: url(img/line-040.png);
    position: absolute;
    top: -24px;
    left: -127px;
  }

  #lineup-page .lineup__kind li div{
    width: 210px;
    min-height: 120px;
    border: #777 5px solid;
    background: white;
    cursor: pointer;
    padding: 2px 4px 0;
  }
  #lineup-page .lineup__kind li span{
    display: block;
  }
  #lineup-page .lineup__kind li span.title{
    font-weight: bold;
    text-align: center;
    margin: 4px 0 2px;
    border-bottom: 1px solid #005bac;
  }
  #lineup-page .lineup__kind li span.sub-title{
    margin: 0 6px;
  }
  #lineup-page .lineup__kind li span.item{
    font-size: 94%;
    text-indent: -1em;
    margin-left: 1.2em;
    margin-right: 1.2em;
  }

  .popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
  }
  .popup.is-show {
    opacity: 1;
    visibility: visible;
  }
  .popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 50px;
    background-color: #fff;
    z-index: 2;
  }
  .popup-inner img {
    width: 100%;
  }
  #lineup-page .popup-inner__lists{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #lineup-page .popup-inner__item{
    display: block;
    flex-basis: 44%;
    border: 2px solid #777;
    padding: 10px;
    margin-bottom: 10px;

  }
  #lineup-page .popup-inner__item-title{
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 6px;
  }
  #lineup-page .popup-inner__item-flex{
    display: flex;
    justify-content: space-between;
  }
  #lineup-page .popup-inner__item-text{
    flex-basis: 45%;
  }
  #lineup-page .popup-inner__item-img{
    flex-basis: 45%;
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }
  .close-btn i {
    font-size: 20px;
    color: #333;
  }
  .black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    cursor: pointer;
  }



  @media(max-width:640px){
    #lineup-page .separateline{
      padding-bottom: 40px;
    }
    #lineup-page .bg{
      background-size: 40%;
      padding: 40px 0 0;
    }
    #lineup-page .lineup__kind01{
      margin-top: 0;
    }
    #lineup-page .lineup__kind01 li.left {
      margin-bottom: 5%;
    }
    #lineup-page .lineup__kind01 li.right {
      margin-right: 0%;
      margin-bottom: 5%;
    }
    #lineup-page .lineup__kind02 li.left {
      margin-top: 5%;
    }
    #lineup-page .lineup__kind02 li.right {
      margin-right: 0%;
      margin-top: 5%;
    }
    #lineup-page .lineup__kind01 li.left::after, #lineup-page .lineup__kind01 li.right::before, #lineup-page .lineup__kind02 li.left::after,  #lineup-page .lineup__kind02 li.right::before{
      content: "";
      top: 0;
      right: 0;
    }
    #lineup-page .lineup__kind li{
      flex-basis: 36vw;
    }
    #lineup-page .lineup__kind li div{
      width: auto;
      min-height: 120px;
    }
    #lineup-page .lineup__kind li span.title{
      margin: 4px 0 2px;
      font-size: 90%;
    }
    #lineup-page .lineup__kind li span.sub-title{
      font-size: 90%;
    }
    #lineup-page .lineup__kind li span.item{
      font-size: 84%;
    }
    .popup-inner{
      width: 82%;
      padding: 48px 20px 20px;
    }
    #lineup-page .popup-inner__item-flex{
    display: block;
  }
  #lineup-page .popup-inner__item{
    flex-basis: 42%;
  }
  #lineup-page .popup-inner__item-title{
      font-size: 100%;
    }
  #lineup-page .popup-inner__item-text{
      font-size: 88%;
      margin-bottom: 4px;
    }
  }